{% extends "base.html" %}
{% block css %}
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}
{% block main %}
    <h1>Error Page not found</h1>
    <h2>But you found Herobrine...</h2>

    <img src="{{ url_for('static', filename='img/herobrine.png') }}" alt="Herobrine" class="container-fluid" style="height: 50%; width: 50%">
{% endblock %}
