{% extends "base.html" %}
{% block css %}
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}
{% block main %}
    <main>
    <h1>Blocks</h1>
    <ul class="list-group">
        {% for block in blocks %}
        <li class="list-group-item" style="background-image: url('{{ url_for('static', filename=block.img_3d) }}');
                background-repeat: no-repeat;background-size: contain">
            <a href="/block/{{ block.id }}">{{ block.name }}</a>
        </li>
        {% endfor %}
    </ul>
    </main>
{% endblock %}
