{% extends "base.html" %}
{% block css %}
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}
{% block main %}
    <main class="container">
        <div class="card">
            <table class="table">
                <thead>
                <tr>
                    <th class="pb-0" colspan="2"
                        style="background-image: url('{{ url_for('static', filename=block.img_3d) }}');
                                background-repeat: no-repeat;background-size: contain">
                        <h1>{{ block.name }}</h1>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Block Id</th>
                    <td>{{ block.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Block name</th>
                    <td>{{ block.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Hardness</th>
                    <td>{{ block.hardness }}</td>
                </tr>
                <tr>
                    <th scope="row">Is diggable</th>
                    <td>
                        {% if block.diggable %}Yes{% else %}No{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Is transparent</th>
                    <td>
                        {% if block.transparent %}Yes{% else %}No{% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Luminance</th>
                    <td>{{ block.luminance }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="card col-4 offset-4 mt-5">
            <div class="card-body row justify-content-md-center">
                <h5 class="card-title col-12">Craft</h5>
                {% if len_craft == 4 %}
                    <table class="table table-bordered col-7">
                        <tbody>
                        <tr>
                            <td>
                                <img src="{{ url_for('static', filename=craft[0].img) }}" alt="{{ craft[0].name }}">
                            </td>
                            <td>
                                <img src="{{ url_for('static', filename=craft[1].img) }}" alt="{{ craft[1].name }}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="{{ url_for('static', filename=craft[2].img) }}" alt="{{ craft[2].name }}">
                            </td>
                            <td>
                                <img src="{{ url_for('static', filename=craft[3].img) }}" alt="{{ craft[3].name }}">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% elif len_craft == 9 %}
                    <table class="table table-bordered col-10">
                        <tbody>
                        <tr>
                            <td>
                                <img src="{{ url_for('static', filename=craft[0].img) }}" alt="{{ craft[0].name }}">
                            </td>
                            <td>
                                <img src="{{ url_for('static', filename=craft[1].img) }}" alt="{{ craft[1].name }}">
                            </td>
                            <td>
                                <img src="{{ url_for('static', filename=craft[2].img) }}" alt="{{ craft[2].name }}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="{{ url_for('static', filename=craft[3].img) }}" alt="{{ craft[3].name }}">
                            </td>
                            <td>
                                <img src="{{ url_for('static', filename=craft[4].img) }}" alt="{{ craft[4].name }}">
                            </td>
                            <td>
                                <img src="{{ url_for('static', filename=craft[5].img) }}" alt="{{ craft[5].name }}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="{{ url_for('static', filename=craft[6].img) }}" alt="{{ craft[6].name }}">
                            </td>
                            <td>
                                <img src="{{ url_for('static', filename=craft[7].img) }}" alt="{{ craft[7].name }}">
                            </td>
                            <td>
                                <img src="{{ url_for('static', filename=craft[8].img) }}" alt="{{ craft[8].name }}">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% else %}
                    <p class="card-text">No craft found for this block.</p>
                {% endif %}
            </div>
        </div>
        {% if block.id > 0  and block.id <= 197%}
            <a href="{{ url_for('block', block_id=block.id - 1) }}" class="btn btn-dark">Previous block</a>
        {% endif %}

        {% if block.id >= 0 and block.id < 197 %}
            <a href="{{ url_for('block', block_id=block.id + 1) }}" class="btn btn-dark">Next block</a>
        {% endif %}

    </main>
{% endblock %}
