{% extends "base.html" %}
{% block css %}
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}
{% block main %}
    <div class="starter-template">
        <h1>Welcome to Flaskraft Wiki !</h1>
    </div>
    <div class="card"><h5>About Minecraft</h5>
        <p><a href="https://minecraft.gamepedia.com/Minecraft" title="Minecraft"><img alt="Minecraft"
                                                       src="https://d1u5p3l4wpay3k.cloudfront.net/minecraft_gamepedia/4/4d/Mclogo.svg?version=e7843fa551c03012e2394e19dd032ed1"
                                                       width="90" height="15"></a> is a <a
                href="https://en.wikipedia.org/wiki/Open_world" class="extiw" title="wikipedia:Open world">sandbox</a>
            construction game created by <a href="https://minecraft.gamepedia.com/Mojang_AB" title="Mojang AB">Mojang AB</a> founder <a
                    href="https://minecraft.gamepedia.com/Markus_Persson" title="Markus Persson">Markus "Notch" Persson</a>, inspired by <i><a
                    href="https://minecraft.gamepedia.com/Infiniminer" title="Infiniminer">Infiniminer</a></i>, <i><a
                    href="https://en.wikipedia.org/wiki/Dwarf_Fortress" class="extiw" title="wikipedia:Dwarf Fortress">Dwarf
                Fortress</a></i>, <i><a href="https://en.wikipedia.org/wiki/Dungeon_Keeper" class="extiw"
                                        title="wikipedia:Dungeon Keeper">Dungeon Keeper</a></i>, and Notch's past games
            <i><a href="https://minecraft.gamepedia.com/Legend_of_the_Chambered" title="Legend of the Chambered">Legend of the Chambered</a></i> and
            <i><a href="https://minecraft.gamepedia.com/RubyDung" title="RubyDung">RubyDung</a></i>. Gameplay involves <a href="https://minecraft.gamepedia.com/Player"
                                                                                           title="Player">players</a>
            interacting with the game world by placing and breaking various types of <a href="https://minecraft.gamepedia.com/Block" title="Block">blocks</a>
            in a <a href="https://minecraft.gamepedia.com/Overworld" title="Overworld">three-dimensional environment</a>. In this environment, players
            can build creative structures, creations, and artwork on <a href="https://minecraft.gamepedia.com/Multiplayer" title="Multiplayer">multiplayer</a>
            servers and singleplayer worlds across multiple <a href="https://minecraft.gamepedia.com/Gameplay" title="Gameplay">game modes</a>.
        <p>Source : <a href="https://minecraft.gamepedia.com/Minecraft_Wiki">Minecraft Wiki</a></p>
    </div>
{% endblock %}
