{% extends "base.html" %}
{% block css %}
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}
{% block main %}
    <main class="container">
        <div class="card">
            <table class="table">
                <thead>
                <tr>
                    <th class="pb-0" colspan="2"
                        style="background-image: url('{{ url_for('static', filename=item.img) }}'); background-repeat: no-repeat;
                                background-size: contain">
                        <h1>{{ item.name }}</h1>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Item Id</th>
                    <td>{{ item.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Item Name</th>
                    <td>{{ item.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Item Stack Size</th>
                    <td>{{ item.stack_size }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        {% if item.id > 256  and item.id <= 431%}
            <a href="{{ url_for('item', item_id=item.id-1) }}" class="btn btn-dark">Item précédent</a>
        {% endif %}

        {% if item.id == 2256 %}
            <a href="{{ url_for('item', item_id=431) }}" class="btn btn-dark">Item précédent</a>
        {% endif %}

        {% if item.id > 2256  and item.id <= 2267%}
            <a href="{{ url_for('item', item_id=item.id-1) }}" class="btn btn-dark">Item précédent</a>
        {% endif %}

        {% if item.id >= 256 and item.id < 431 %}
            <a href="{{ url_for('item', item_id=item.id+1) }}" class="btn btn-dark">Item Suivant</a>
        {% endif %}

        {% if item.id == 431 %}
            <a href="{{ url_for('item', item_id=2256) }}" class="btn btn-dark">Item Suivant</a>
        {% endif %}

        {% if item.id >= 2256  and item.id < 2267%}
            <a href="{{ url_for('item', item_id=item.id+1) }}" class="btn btn-dark">Item Suivant</a>
        {% endif %}

    </main>
{% endblock %}
